mat-checkbox {
  margin: 20px;
}

button {
  margin-left: 5px;
}

.task {
  padding-bottom: 10px;
}

.inputForm {
  padding-left: 20px;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#taskName {
  width: 60%;
}

#editTaskButton {
  float: right;
  background-color: palegreen;
}

#deleteTaskButton {
  float: right;
  background-color: indianred;
}

#addTaskInput {
  padding-top: 10px;
  border-top: 1.5px solid;
  display: inline-block;
}

::ng-deep .mat-checkbox-checked + label.strikethrough{
  text-decoration: line-through;
  color: lightgray;
}
