<form [formGroup]="listGroup">
  <div formArrayName="list">
    <div class="task" *ngFor="let listItem of list; index as i">

      <div class="inline-block" >
        <mat-checkbox (change)="onChecked(listItem)"></mat-checkbox>
        <label class="strikethrough" *ngIf="!edit;" (click)="edit = true;"> {{ listItem.text }} </label>

        <div *ngIf="edit;" class="inline-block">
          <label>
            <input matInput [formControlName]="i" placeholder="Edit task" type="text">
          </label>
          <button id="editTaskButton" mat-flat-button (click)="onEdited(i)"> Done </button>
        </div>
      </div>

      <button id="deleteTaskButton" mat-flat-button (click)="removeFromList(listItem)"> Delete </button>
    </div>
  </div>
</form>

<div class="inputForm">
  <form [formGroup]="textInputForm" (ngSubmit)="onSubmit(textInputForm.value)">
    <mat-form-field id="addTaskInput">
      <label>
        <input matInput placeholder="Add a task" type="text" formControlName="task">
      </label>
    </mat-form-field>
  </form>
</div>
