<div id="item" *ngFor="let listItem of list">
<!--  <p *ngIf="!listItem.done" id="item">-->
  <p>
    <mat-checkbox (change)="onDone(listItem)"></mat-checkbox>
    <label class="strikethrough"> {{ listItem.text }} </label>
  </p>
</div>

<div id="form">
  <form [formGroup]="textInputForm" (ngSubmit)="onSubmit(textInputForm.value)">
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Add a task:" type="text" formControlName="task">
      </label>
    </mat-form-field>
  </form>
</div>
