p {
  display: inline;
  font-size: 22px;
  font-weight: lighter;
}

input {
  display: inline;
}

form {
  padding-top: 15px;
}

mat-checkbox {
  margin: 10px;
}

#item {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form {
  background-color: cadetblue;
  color: white;
  padding: 20px;
  font-weight: bold;
}

::ng-deep .mat-checkbox-checked + label.strikethrough{
  text-decoration: line-through;
  color: lightgray;
}
