<form *ngFor="let listItem of list; index as i" [formGroup]="listGroup" (ngSubmit)="onEdited(i)">
  <div formArrayName="list">
    <table class="task">

      <tr>
        <td>
          <mat-checkbox (change)="onChecked(listItem)"></mat-checkbox>
        </td>

        <td *ngIf="!edit;" id="taskName" (click)="edit = true;">
          <label class="strikethrough"> {{ listItem.text }} </label>
        </td>

        <td *ngIf="edit;">
          <label>
            <input matInput [formControlName]="i" placeholder="Edit task" type="text">
          </label>
        </td>

        <td *ngIf="edit;">
          <button id="editTaskButton" mat-flat-button (click)="onEdited(i)"> Done </button>
        </td>

        <td>
          <button id="deleteTaskButton" mat-flat-button (click)="removeFromList(i)"> Delete </button>
        </td>
      </tr>

    </table>
  </div>
</form>

<div class="inputForm">
  <form [formGroup]="textInputForm" (ngSubmit)="onSubmit(textInputForm.value)">
    <mat-form-field id="addTaskInput">
      <label>
        <input matInput formControlName="task" placeholder="Add a task" type="text">
      </label>
    </mat-form-field>
  </form>
</div>
